
@font-face {
    font-display: swap; 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/mulish-v13-latin-300.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v13-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/mulish-v13-latin-500.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mulish-v13-latin-700.woff2') format('woff2'); 
  }

  /* ------------------------------------NAV-------------------------------- */
  .visually-hidden{ 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar__link{
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    margin-left: 20px;
    color: #1F1534;
    opacity: 50%;
}
.navbar__link:hover{
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    margin-left: 20px;
    color: black;
    opacity: 1;
    transition: 0.5s ease all;
}

/* --------------------------------------------------HERO-------------------------------------------------- */

.hero__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__box{
  max-width: 450px;
}
.hero__title{
  font-family: "Mulish",sans-serif;
  max-width: 420px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}
.hero__text{
  font-family: "Mulish",sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;  
  color: #7D7987;
}
.hero__button{
  font-family: "Mulish",sans-serif;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px 30px;
  background: #458FF6;
  border: 1px solid transparent;
  border-radius: 55px;
  color: #fff;
}
.hero__button:hover{
  background: #fff;
  font-family: "Mulish",sans-serif;
  border: 1px solid blue;
  color: black;
  letter-spacing: 0em;
  font-size: 18px;
}
.hero__img{
  width: 660px;
  height: 550px;
}

/* -----------------------------------------SERVICES-------------------------------------------------------------- */

.services__container{
  margin-top: 60px;
}
.services__box{
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
}
.services__hr{
  max-width: 60px;
  margin: 0 auto;
  background: black;
  border-radius: 5px;
  border: 2px solid black;
}
.services__title{
  font-family: "Mulish",sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
}
.services__text{
  font-family: "Mulish",sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;  
  color: #7D7987;
}
.services__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 50px;
}
.services__item{
  width: 340px;
  height: 350px;
  margin: 20px;
  background: rgba(239, 237, 244, 0.919);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(232, 227, 219);
}
.services__images{
  padding: 30px;
  width: 70px;
  height: 70px;
}
.services__list-title{
  padding-left: 30px;
  font-family: "Mulish",sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}
.services__list-text{
  font-family: "Mulish",sans-serif;
  font-size: 16px;
  font-weight: 300;
  max-width: 260px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 30px;
}
.services__bottom{
  max-width: 200px;
  margin: 0 auto;
}
/* ------------------------------MAIN--------------------------- */

.main__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.main__box{
  width: 430px;
}
.main__title{
  font-family: "Mulish",sans-serif;
  width: 260px;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.main__hr{
  margin: 0;
  width: 60px;
  height: 2px;
  background: black;
  border-radius: 10px;
}
.main__text{
  font-family: "Mulish",sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #7D7987;
}
.main__button{
  width: 200px;
  height: 70px;
  background: #458FF6;
  border: 2px solid #458FF6;
  border-radius: 40px;
  color: white;
  font-family: "Mulish",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 20px;
}
/* -------------------------------------------------SECTION------------------------------------------ */
.section__container{
  max-width: 1120px;
  margin: 0 auto;
  background-color: #458FF6;
  border-radius: 20px;
  height: 400px;
}
.inner__box{
  padding-top: 10px;
  text-align: center;
}
.section__title{
  font-family: "Mulish",sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-align: center;
}
.section__hr{
  width: 60px;
  height: 2px;
  background: #fff;
  border-radius: 10px;
}
.section__images{
  width: 130px;
  height: 130px;
}
.section__list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.section__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.section__text-name{
  font-family: "Mulish",sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.8;
}
.section__title-name{
  color: white;
  font-size: 25px;
}
.section__text{
  color: white;
}
.item__box{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ------------------------------------------------------------SLIDER------------------------------------------------ */
.slider__container{
   max-width: 400px;
   margin-bottom: 50px;
}
.slider__list{
  list-style: none;
  width: 300px;
}
.slider__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* -------------------------------------------ARTICLE-------------------------------------------------- */


.article__container{
  margin-top: 227px;
}
.article__title-name{
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 26px;
  margin-left: 450px;
}
.article__hr{
  width: 56px;
  height: 2px;
  border-radius: 5px;
  background: #000;
  border: #000;
  margin-left: 650px;
  margin-bottom: 50px;
}
.article__list{
  list-style: none;
  display: flex;
  padding-left: 50px;
}
.article__item{
  text-decoration: none;
  width: 350px;
  height: 512px;
  margin: 34px;
  border-radius: 20px;
  background-color: whitesmoke;
}
.article__img{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.article__title{
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; 
  width: 251px;
  height: 64px;
  margin-left: 33px;
  margin-top: 24px;
}
.article__text{
  color: #7D7987;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  width: 266px;
  height: 84px; 
  margin-left: 33px;
  margin-top: 12px;
  margin-bottom: 25px;
}
.article__link{
  text-decoration: none;
  color: #4089ED;
  font-family: "Mulish", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 100;
  line-height: 28px;
  margin-left: 33px;
}
.article__button{
  width: 200px;
  height: 60px;
  border-radius: 55px;
  background-color: white;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; 
  color: rgba(69, 143, 246, 1);
  border: 2px solid rgba(69, 143, 246, 1);
  margin-top: 40px;
  margin-left: 550px;
}
.article__button:hover{
  background: #458FF6;
  color: #FFF;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; 
  border: 2px solid transparent;
}
/* ---------------------------------FOOTER--------------------------------- */
.footer___container{
  width: 1200px;
  height: 350px;
  margin: 0 auto;
  margin-top: 100px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%); 
  border-radius: 30px;
}
.footer__box{
  margin-top: 80px;
}
.footer__list{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer__item{
  text-decoration: none;
}
.footer__item-name{
  width: 390px;
  margin-left: 100px;
}
.footer__img{
  margin-bottom: 17px;
}
.footer__text-name{
  color: #FFF;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; 
  margin-bottom: 31px;
}
.footer__text-nam{
  color: #FFF;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 10;
  line-height: 28px; 
}
.footer__item-nam{
  margin-right: 100px;
}
.footer__title-name{
  color: #FFF;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 60px;  */
}
.footer__text-n{
  color: #FFF;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  /* line-height: 38px;  */
}
.footer__title{
  color: #FFF;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 60px;  */
}
.footer__text{
  color: #FFF;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 10;
  /* line-height: 38px;  */
}